---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- News -->
          {% if page.news -%}
            <h3><a href="{{ '/news/' | relative_url }}" style="color: inherit; font-weight: bold;">🔥 News</a></h3>
            {%- include news.html %}
          {%- endif %}

          <!-- Latest posts -->
<!--           {% if page.latest_posts -%}
            <h3><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h3>
            {%- include latest_posts.html %}
          {%- endif %} -->

          <!-- Selected papers -->
<!--           <div id="publications" style="max-width: 1200px;">
            ...
          </div> -->
          {% if page.selected_papers -%}
            <h3><a href="{{ '/publications/' | relative_url }}" style="color: inherit; font-weight: bold;">📝 Selected Publications</a></h3>
            {%- include selected_papers.html %}
          {%- endif %}
              
          <!-- Services -->
            <h3 style="color: inherit; font-weight: bold;">📚 Academic Services</h3>
            <ul>
                  <li><strong>Conference Reviewer:</strong> ICLR 2024, 2025; ICML 2022, 2023, 2024, 2025; NeurIPS 2022, 2023, 2024; CVPR 2025; AISTATS 2023, 2024; UAI 2023, 2024; ECML 2023; ACML 2022.</li>
                  <li>I am also a contributor of <a href="http://www.fai-seminar.ac.cn"><strong>International Seminar on Foundational Artificial Intelligence (FAI-Seminar)</strong></a>.</li>
            </ul>
   
          <!-- Miscellaneous -->
            <h3 style="color: inherit; font-weight: bold;">🤗 Miscellaneous</h3>
            <ul>
                  <li>I am an <strong>(old-school) ACG fan</strong>. My favorites range from Detective Conan and Pokemon to Attack on Titan.</li>
                  <li>I was an <strong>amateur artist</strong> (or more accurately, an enthusiast), spending more than five years practicing my sketching skills. My dream was to become a manga artist ("漫画家" in Chinese). I firmly believe that he aesthetic sensibility nurtured through my fine arts studies considerably enhances my research.</li>
                  <li>I'm also a huge <strong>basketball fanatic</strong>! I have a profound love for basketball, particularly for the <strong>intrinsic beauty</strong> of the sport itself. I'm planning (possibly in 1 or 2 years) to start a blog series about the basics of basketball (e.g., rules, skills and tactics) through the lens of scientific research. Any comments are welcome!</li>
            </ul>
              
          <div style="text-align:center;">
            <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=150&t=n&d=tS-1W4gsJQveW3uLgiUjZjQG3LnHb7prM6Wkzr-ARIQ&co=b509ac'></script>
          </div>
         
          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
        </article>

</div>
